

.not-found{
  background-image: url('../../../assets//images/not-found.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 60%;
  height: 50%;
  left: 30%;
}
